
body.mainn {
	background: url(../pics/background.jpg);
	background-color: black;
	background-repeat:repeat-x;
    background-attachment: fixed;
	text-align: left;
	font-size: 16px;
	
}

div{
	text-align: center;
}

body.con{
		background-image: url("../Pics/Background-Contacts.jpg"); 
			background-color: black;
			background-repeat:no-repeat;
			background-size: cover;
			text-align: center;
			font-size: 20px;
}

ul{
	position: fixed;
	width: 100%;
	height: 29px;
	margin-top: .65%;
	padding: 0px .5% 0px .5%;
	 outline: none;
}

li{
	color: black;
	display: inline;
	text-decoration: none;
	underline: none;
	padding: 3px;
	border: 4px;
	margin: 0px 10px 0px 10px;
	padding: 1px 1px 1px 1px;
	border-style: solid;
	border-color:  #d6cac2;
	background-color:#b7a395;
	outline: none;
}

.PicsLib{

  position: relative;
    
}


.chngButton{
	text-align: center;
	font-size: 18px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin: 0px 25px 0px 25px;
	background-color: darkgrey;
    color: black;
    border: 2px solid #555555;
	outline: none;
	border-radius: 12px;
}

.chngButton:hover {
    background-color: #555555;
    color: white;

}

.spacing{
	max-width: 20%;
    display: inline block;
	text-align: center ;
	max-width: 60%;
	
}
.dasDiv{
	position: relative;
	display: inline block;
	text-align: center;
	width: 38%;
	margin-left: 31%;
	font: 20px;
	
}


.invisibleText{
	text-align: center;
	background-color: rgba(0,0,0,.0);
	border: 0px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 22px;
	color: white;
}

img{
	border: 3px solid #0c401c;
    max-height: 40%;
    max-width: 40%;
	min-height: 16%;
	min-width: 16%;
}

footer{
	color: green;
}

/* unvisited link */
a{
	text-decoration: none;
	border: 1px;
	color: green;
}

a:link {
	text-decoration: none;
    color: green;
}

/* visited link */
a:visited {
	text-decoration: none;
    color: white;
}

/* mouse over link */
a:hover {
	text-decoration: none;
    color: green;
}

/* selected link */
a:active {
	text-decoration: none;
    color: green;
}
